{% load i18n %}{% autoescape off %}
{% blocktranslate %}Hey! I heard you forgot your password for your acount on {{ site_name }}.{% endblocktranslate %}

{% translate "Just hit this link and you can set a new password nice and easy!" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate 'Your username, in case you’ve forgotten:' %} {{ user.get_username }}

{% translate "No hard feelings!!" %}

{% blocktranslate %}The {{ site_name }} team{% endblocktranslate %}

{% endautoescape %}
